*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif ;
}
header{
	width: 100%;
	background: #000;
	display: flex;
}
.header__logo{
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}
nav {
	margin-top:56px;
	margin-left: 29%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 16px;
	font-size: 14px;
	font-weight: bold;
}
.topnav a:hover{
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
} 
main{
	display: flex;
	flex-direction: column;
	width: 100%;
}
main .main__welcome{
	background: #000;
	text-align: center;
	padding: 200px 0 410px 0;
}
main .main__welcome p{
	color: #999999;
	font-size: 20px;
}
main .main__welcome h1{
	color: #999999;
	font-size: 44px;
}
.mycompany{
	color: #fcac45;
}
.wrapper{
	width: 76%;
	margin: 0 auto;
}
main .main__about{
	display: flex;
	padding:100px 0 100px 0;
}
.about__right{
	margin-left: 175px;
}
.about__right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}
.about__right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}
.about__right li{
	padding-left: 25px;
	margin-top: 10px;
}
.our__clients{
	display: flex;
	padding: 100px 0 100px 0;
	background-color: black;
}
.our__clients h1{
	color: white;
	margin-left: 50%;
	display: inline-block;
	border-bottom: 3px solid #fcac45;
}
.someof{
	color: #6c6c6c;
}


@media screen and (max-width: 1200px){
	nav{
		margin-left: 20px;
	}
}

@media screen and (max-width: 1105px){
	nav{
		margin-left: 10px;
	}
}

@media screen and (max-width: 1010px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav{
		width: 100%;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive{
		height: 340px;
	}
	header .topnav.responsive a.icon{
		position: absolute;
		top: -50px;
		right: : -200px;	
	}
	header .topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}